@import url('https://fonts.googleapis.com/css?family=Maven+Pro|Montserrat:300&display=swap');
body{
    text-align: left;
    font-family: 'Maven Pro', sans-serif;
    color: #333366;
}
h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color:  #0099cc;
}
h2{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color:  #0099cc;
}
.navbar{
	padding-bottom: 30px;
}
.navbar-brand img{
	height: 70px;
}
.navbar-right{
	float:right;
	margin-left: auto;
	vertical-align: top;
}
.nav-link, .s a{
	color: black;
	text-decoration:none;
	padding-left:18px;
	padding-right: 18px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-transform: uppercase;
	font-family: 'Arials', sans-serif;
	font-size: small;
	/*for hovering transitioin*/
	transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
  transform: translateX(0);
   -webkit-transform: translateX(0);
}
.s a:hover{
	color:#0099cc;
}
a.active{
	color:#0099cc;

}
section{
	padding: 4%;
}
.hero{
	padding: 0%;
}
.hero img{
	/*background-image: url(../images/banner.jpg);*/
	height: auto;
	width: 100%;   
}

.first{
	text-align: left;
	font-size: larger;
}
.first img{
	width:100%;
	max-height: 300px;
	cursor: pointer;
}
hr{
	border: none;
	width: 100%;
	height: 1px;
	padding: 0%;
	background-color: #f0ece3;
	margin-bottom: 3%;
}
.product h1{
	padding-bottom: 5%;
}
.product p{
	padding-left: 5%;
	padding-top: 3%;
	padding-bottom: 3%;
}
.product img{
	/*max-height: 400px;*/
	max-width: 100%;
}
.product p{
	margin-bottom: 0;
}
.product .col-md-6{
	transition: transform .5s; /* Animation */
    margin: 0 auto;

}
.product .col-md-6:hover{
	transform: scale(1.02) ;
}

.contact{
	/*background-color: #f5f2ed;*/
	background-color: #f4f4f4;
	width: 100%;
	text-align: center;
}
.contact form{
	width: 60%;
	margin: 0 auto;
	padding-top: 3%;
	padding-bottom: 3%;	
}
.contact input{
	background-color: #e8eaef;
	border: 0px;
	padding: 0.5em;
	margin: 0.2em;
}
.contact p {
	padding-top: 1.5em;
}

.btn{
	background-color: #0082cb !important;
    color: white;
    min-width: 30%;
    border-radius: 0px;
    padding-left: 5%;
    padding-right: 5%;
	transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
  transform: translateX(0);
   -webkit-transform: translateX(0);
}
.lightblue{
	background-image: linear-gradient(to right, rgba(110,183,255,0.5),rgba(110,183,255,1));
	opacity: 20%;
	padding: 5% 30% 5% 30%;
	min-height: 250px;
	width: inherit;
	height: inherit;
	text-align: center;
	color: #5f5e5e;

}
@media only screen and (max-width: 700px) {
  .lightblue {
	padding: 5% 10% 5% 10%;
  }
}
.boybg{
	background-image: url('../images/boy-bg.jpg');
	background-repeat: no-repeat;
	background-size: 280px;
	background-position: bottom left;
	padding: 0px;
	color: white;
	min-height: 250px;

}
.footer1{
	font-size: smaller;
	text-align: left;
	font-family: sans-serif;
	line-height: 2em;
	padding-bottom: 0;

}
.footer1 h5{
	color: #0099cc;
}

.footer1 ul{
	list-style: none;
	text-align: left;
}
.footer1 a{
	text-decoration: none;
	color: #b7babb;
}
.footer2{
	padding-bottom: 8px;
	padding-top: 8px;
	font-family: sans-serif;
	font-size: small;
}
.footer2 img{
	height: 20px;
	margin-left: 2px;
}
.footer2 span{
	padding-left: 3%;
}
.flogos{
	height: 50px !important;
	margin-left: -50px;

}